:root {
  --background-color: hsl(202, 100%, 7%);
  --ship-color: hsl(0, 81%, 59%);
  --bulet-color: hsl(275, 32%, 55%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#svg {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
}

#ship {
  fill: var(--ship-color);
}

.text {
  position: absolute;
  font-family: monospace;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.title {
  font-size: 3rem;
}

.bullet {
  fill: var(--bulet-color);
}

.asteroid {
  fill: none;
  stroke: white;
  stroke-width: 4px;
  stroke-linejoin: round;
}

